
*{
    padding: 0; margin: 0;
  }
  
  #body{ 
    min-width: 1190px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    line-height: 16px; font-size: 12px; color: #202020; 
    
  }
  ul,li{
    list-style: none;
  }
  .clearfix::after{
    content: ''; clear: both; display: block; 
  }
  a{
    text-decoration: none;
  }
  
  /* 공통 적용 */
  
  
  
  .header{
    position: fixed; height: 145px; width: 100%; top: 0; background-color: #fff;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.3);  z-index: 998;
    
  }
  .header .head-box{
    width: 1190px; margin: 0 auto; height: 100%;
      position: relative;
  }
  
  .header .head-box .main-icon-box{
    float: left; text-align: center; line-height: 100px; width: 400px; background-color: #fff;
    
  }
  
  .head-box .search-containerbox .search{
    width: 560px; height: 50px; border: 1px solid black; background-color:#eef0f2;
    font-size: 15px; float: left;  padding: 0 5px;
  }
  .header .head-box .search-containerbox{
    float: left; background-color: #fff; height: 100px;
    
  }
  .head-box .search-containerbox .search-box{
    position: relative; border-radius: 10px;
    float: right; width: 580px; padding-top: 25px;
  }
  .head-box .search-containerbox .search-box>*{
    border-radius: 10px;
  }
  .head-box .search-containerbox .search-box .btn-search{
    width: 50px; height: 50px; position: absolute; border: none; 
    top: 25px; right: 10px; bottom: 0; cursor: pointer; padding: 0; outline: 0;
    font-size: 30px;line-height: 50px; color: black; text-align: center;
  }
  .header .head-box .main-menu-box{
    width: 100%; 
  }
  .head-box .main-menu-box .list-menu{
    width: 100%; height: 45px; max-width: 1190px; margin: 0 auto; display: flex;
  }
  .head-box .main-menu-box .item-menu{
   display: flex; justify-content: space-around; width: 100%; height: 100%; background-color: #fff;
   align-items: center;
  }
  .head-box .main-menu-box .link-menu{
    display: flex; align-items: center; color: #000;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .head-box .main-menu-box .icon-menu{
    width: 30px; height: 30px;
  }
  .head-box .main-menu-box .item-menu:hover{
    border-bottom: 5px solid #0a97cd;
  }
  
  /* 메인 메뉴바 끝 */
  .search-containerbox .search-keyword{
    position: absolute; right: 217.5px; top: 85px; width: 570px; border: 1px solid #666; background: #fff;
    border-radius: 10px; z-index: 999; text-align: left; display: none; 
  }
  .search-containerbox .search-keyword h2{
    height: 33px; line-height: 33px; margin-top: 20px; padding: 0 28px; font-weight: 800; 
    font-size: 20px; color: #333; letter-spacing: -0.5px;
  }
  .search-containerbox .search-keyword .list-search{
    float: left; width: 50%; padding-bottom: 32px;
  }
  .search-containerbox .search-keyword .list-search .item-search{
    margin-top: 20px; padding-left: 28px;
  }
  .search-containerbox .search-keyword .num{
    float: left; width: 20px; height: 20px; background: #666; border-radius: 3px; color: #fff;
    font-size: 13px; text-align: center; vertical-align: middle;
  }
  .search-containerbox .search-keyword .link-search{
    overflow: hidden;line-height: 20px; margin-left: 10px; color: #333;
    font-size: 15px; font-weight: 700;text-overflow: ellipsis; white-space: nowrap;
  }
  .search-containerbox .search-keyword .list-search+.list-search .link-search{
    font-weight: 400; color: #666;
  }
  .search-containerbox .search-keyword .list-search+.list-search .num{
    background: #949494;
  }
  .search-containerbox .search-keyword .close-keyword{
    width: 100%; overflow: hidden; height: 33px; background: #eef0f2; text-align: right;
    border-radius: 0 0 10px 10px;
  }
  .search-containerbox .search-keyword button{
    padding: 0 20px; line-height: 33px; font-size: 14px; color: #333; border-radius: 0 0 10px 0;
    border: 0 none; cursor: pointer;
  }
  /* 서치바 클릭 박스 */
  
  .head-box .box-quickMenu{
    float: right; width: 210px; background-color: #fff; height: 100px;
  }
  .head-box .box-quickMenu .box-menu{
    width: 70px; float: left; text-align: center; line-height: 20px; padding-top: 30px;
  }
  
  .box-quickMenu .box-menu .btn-quick i{
    font-size: 30px; color: #000;
  }
  .box-quickMenu .box-menu .text-quick{
    display: block; font-size: 8px; color: #000;
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
    /* 메뉴바 우측 아이콘 */  
  
  .contents{
    padding-top: 175px; z-index: 1;
  }
  .contents .content-box{
    width: 1190px; margin: 0 auto; font-size: 40px;position: relative;
    height: 1800px;
  }
  .contents .content-box .content-title{
    position: relative; border-bottom: 2px solid #000;    
  }
  .contents .content-box .content-title a{
    pointer-events: none;
  }
 
  /* 콘텐츠 틀 잡기 끝 */
  
  .right-box{
    float: right;
    width: 750px;
    height: 1800px;
    border: 1px solid white;
  }
  /*오른쪽 전체 박스*/
  .left-box{
    float: left;
    width: 400px;
    height: 1800px;
  }
  
  /*왼쪽 전체 박스*/
  .profile{
    position: absolute;
    float: left;
    width: 350px; height: 400px;
    border: 1px solid white;   
    background-color: midnightblue;
    border-radius: 120px;    
    color:white;
    font-size: 40px;   
   }
   .profile-head{       
    width: 350px; height: 100px;
   }
   .profile a{    
    float: right;
    margin-right: 70px;
    margin-top: 10px;    
   }
   .profile-body{ 
    position:relative;    
    width: 350px; height: 200px;
    text-align: center;
    font-size: 25px;
   }
   .profile-img{      
    width: 350px; height: 150px;
   }
   .prof-img{      
    size: 100px;
    
   }
   .profile-foot{         
    width: 350px; height: 130px;
   }
   .profile-foot a{       
    font-size: 30px;   
    text-align: center;
    margin-right: 55px;
    text-decoration-line: underline;
   }
   .profile-img img{       
    width: 150px;
    height: 130px;
    margin-right: 30px;    
   }
   
   .profile-foot a p:hover{
    color: gray;
   }
   .profile-head a:hover{
   font-style:italic;
   }
   
   /*-----------------프로필----------------*/
   .reservation-box{
    margin-top: 100px;
    float: right;
    width: 750px;
    height: 400px;
    border: 1px solid white;    
    border-bottom-color: black;
   }   
   
   .reservation-body{
    height:198px;
   }
  .reservation-head-wrap1 .counter{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 98px;
    height: 36px;
    line-height: 34px;
    color: #111;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
  }
  .reservation-head-wrap1 .counter:before{    
    display: inline-block;  
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    content: '';
    vertical-align: middle;
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) -56px -92px no-repeat;
  }
   .reservation-head-wrap{
    text-align: center;      
    height:50px;
    width:750px;
   }
   .reservation-head-wrap1{
    float:right;
    position: relative;
    display:inline;
    text-align: center;
    height:50px;
    width:100px;
   }
  
  
   /*----------------프로모-------------------*/
   
   .activity-box{    
    float: right;
    width: 750px;
    height: 300px;    
    border: 1px solid white;
    border-bottom-color: black;
   }
   .activity-head{    
    height: 50px;
    border: 1px solid white;
    text-align: center;
   }
   .activity-head1{
    height: 50px;
    border: 1px solid white;
   }
   .activity-body{
    height:198px;    
   }
   ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;      
    }
    .activity-body li{ margin-bottom: -40px;
        margin-top: -10px;
        width: 33.3%;
        text-align: center;
        height: 150px;
        position: relative;
        list-style: none;
        display: list-item;
        cursor: pointer; 
         }
   .activity-body {
            font-size:14px;             
            text-align: center;
            height: 150px;
            position: relative;
            list-style: none;
            display: list-item;
            cursor: pointer; 
   }
   li a{
    color: black;
    font-size: 20px;
   }
  li a:hover{
    font-size: 25px; 
    color: gray;   
   }
   /*------------------액티비티--------------------*/
   .view-box{       
    margin-top: 100px;
    float: right;
    width: 750px;
    height: 300px;
    border: 1px solid white;
    border-bottom-color: black;
   }
   .view-head-wrap1{     
    float:right;
    position: relative;
    display:inline;
    text-align: center;
    height:50px;
    width:200px;
   }
   .view-head-wrap{    
    height: 50px;
    border: 1px solid white;
    width: 750px;
    margin-bottom: 20px;
    text-align: center;
   }
   .view-body{
    height:198px;
   }
   .view-img{
    width: 750px; height: 120px;
   }
   .view-detail{
    text-align: center;
    font-size: 30px;
   }

   .tb_mypage{
    table-layout: fixed;
    width: 750px;
    border-top: 1px solid #111;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    font-size: 20px;    
    margin-top: 20px;
    background-color: #E6E7EB;
    color: #555555;
    border-collapse: collapse;
   }
   .thead{    
    display: table-header-group;
    vertical-align: middle;
   }    
   .th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;     
   }
   .tr {    
    display: table-row;
    vertical-align: inherit;   
  }
   .colgroup{
    display: table-column-group;
   }
   .col{
    display: table-column;   
   }
   /* 구매내역 테이블 */

   /* 찜한 상품 */
   .fav-box{   
    margin-top: 100px;
    float: right;
    width: 750px;
    height: 300px;
    border: 1px solid white;
   }
   .fav-head-wrap{
    height: 50px;
    border: 1px solid white;
    text-align: center;
   }
   .fav-head-wrap1{
    height: 50px;
    border: 1px solid white;
   }
   .fav-body{
    height:198px;
   }
   .fav-img{
    width: 750px; height: 120px;
   }
   .fav-detail{
    text-align: center;
    font-size: 30px;
   }
   .fav-head-wrap1 .counter{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 98px;
    height: 36px;
    line-height: 34px;
    color: #111;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
  }
  .fav-head-wrap1 .counter:before{    
    display: inline-block;  
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    content: '';
    vertical-align: middle;
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) -56px -92px no-repeat;
  }
   .fav-head-wrap{
    text-align: center;      
    height:50px;
    width:750px;
    margin-bottom: 20px;
   }
   .fav-head-wrap1{
    float:right;
    position: relative;
    display:inline;
    text-align: center;
    height:50px;
    width:100px;
   }
   .fav-head-wrap1 .btn-my-prev1{   
    position: absolute;
    right: 131px;
    top: 0;
    display: block;
    width: 31px;
    height: 36px;
    border: 1px solid #ccc;
    text-indent: -9999em;
    text-align: center;
   }
   .fav-head-wrap1 .btn-my-prev1:before{
    position: relative;
    left: 50%;
    top: 50%;
    display: block;
    width: 7px;
    height: 12px;
    margin: -6px 0 0 -3.5px;
    content: '';
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) no-repeat 0 -75px;
   }
   .fav-head-wrap1 .btn-my-next1{
    position: absolute;
    right: 99px;
    top: 0;
    display: block;
    width: 31px;
    height: 36px;
    margin-left: -1px;
    border: 1px solid #ccc;
    text-indent: -9999em;
   }
   .fav-head-wrap1 .btn-my-next1:before{
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 12px;
    margin: -6px 0 0 -3.5px;
    content: '';
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) no-repeat -7px -75px;
   }



   .view-head-wrap1 .btn-my-prev{   
    position: absolute;
    right: 131px;
    top: 0;
    display: block;
    width: 31px;
    height: 36px;
    border: 1px solid #ccc;
    text-indent: -9999em;
    text-align: center;
   }
   .view-head-wrap1 .btn-my-prev:before{
    position: relative;
    left: 50%;
    top: 50%;
    display: block;
    width: 7px;
    height: 12px;
    margin: -6px 0 0 -3.5px;
    content: '';
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) no-repeat 0 -75px;
   }
   .view-head-wrap1 .btn-my-next{
    position: absolute;
    right: 99px;
    top: 0;
    display: block;
    width: 31px;
    height: 36px;
    margin-left: -1px;
    border: 1px solid #ccc;
    text-indent: -9999em;
   }
   .view-head-wrap1 .btn-my-next:before{
    position: relative;
    display: block;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 12px;
    margin: -6px 0 0 -3.5px;
    content: '';
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) no-repeat -7px -75px;
   }
   
   .view-head-wrap1 .counter{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 98px;
    height: 36px;
    line-height: 34px;
    color: #111;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;    
   }
   .view-head-wrap1 .counter:before{
    display: inline-block;
    *display: inline;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    content: '';
    vertical-align: middle;
    background: url(//img.modetour.com/modetour/2016/common/sp_ico_bullet_201611.png) -56px -92px no-repeat;
   }
  
  /* 푸터 */
  footer{
    width: 100%; margin-top: 60px; padding-bottom: 10px; background: #f7f7f7;
    box-sizing: border-box;
  }
  footer .box-footer{
    width: 940px; margin: 0 auto;
  }
  footer .box-footer .footer-data{
    padding: 20px 0; border-top: 1px solid #e6e6e6; position: relative;
  }
  footer .box-footer .footer-data::after{
    content: ''; display: block; clear: both;
  }
  footer .box-footer .footer-data .footer-menu{
    width: 100%; padding-top: 10px; overflow: hidden;
  }
  footer .footer-data .footer-menu li{
    float: left; line-height: 30px;
  }
  footer .footer-data .footer-menu li:first-child{
    padding-left: 2px;
  }
  footer .footer-data .footer-menu a{
    margin-right: 30px; color: #666; font-size: 13px; letter-spacing: -0.25px;
  }
  footer .footer-data .footer-menu a.personal-info{
    color: #2c47dc; font-weight: bold;
  }
  footer .footer-data .footer-address{
    clear: both; padding-top: 6px;
  }
  footer .footer-data .footer-address li{
    display: inline-block; margin-right: 5px; line-height: 1.8; color: #666; font-size: 13px;
  }
  footer .footer-data .footer-address li>span{
    padding-right: 10px;
  }
  /* 푸터 완료 */
  